{% extends "base_layout.html" %}
{% block title %}Login{% endblock title %}

{% block content %}
<div class="auth-box">
  <h1>Login</h1>
  <form method="post" action="{% url 'accounts:login' %}">
    {% csrf_token %}
    {{ form.username.label_tag }}
    {{ form.username }}
    {{ form.username.errors }}

    {{ form.password.label_tag }}
    {{ form.password }}
    {{ form.password.errors }}
    {% if request.GET.next %}
        <input type="hidden" name="next" value="{{ request.GET.next }}">
    {% endif %}
    <button type="submit">Login</button>
  </form>
  <p class="auth-switch">Don't have an account? <a href="{% url 'accounts:signup' %}">Sign up</a></p>
</div>
{% endblock content %}
